$main-color:  #4AC6C6;
$basic-color: #F64E4B;
$primary-color: #2A5083;
$bg-color:  #d5ecec;
$bg-color:  #EBF2F7;

$theme-color3: #04a292;
$theme-color2: #2A5083;
$theme-color1: #583D72;
$theme-color4: #127e7c;
$theme-color5: #405a68;
$theme-color6: #4B6587;
$theme-color7: #686D76;
$theme-color8: #767c63;
$theme-color9: #87775c;
$theme-color10: #926E6F;

// $font-sm-alpha: 13px;        // extra small 
// $font-sm-beta: 14px;  
// $font-sm-gamma: 17px;         // small
// $font-md-alpha: 20px;         // medium
// $font-md-beta: 23px;         // medium
// $font-md-gamma: 25px;         // medium
// $font-lg-alpha: 30px;         // large
// $font-lg-beta: 33px;        // extra large
// $font-lg-gamma: 35px;        // extra large

$font-sm-alpha: 13.5px;        // extra small 
$font-sm-beta: 15px;  
$font-sm-gamma: 33px;         // small
$font-md-alpha: 14.5px;         // medium
$font-md-beta: 17px;         // medium
$font-md-gamma: 38px;         // medium
$font-lg-alpha: 15.5px;         // large
$font-lg-beta: 19px;        // extra large
$font-lg-gamma: 40px;        // extra large

$text-color-100: rgb(242, 242, 242);
$text-color-300: rgb(232, 232, 232);
$text-color-400: rgb(191, 191, 191);
$text-color-500: rgb(153, 153, 153);
$text-color-700: rgb(100, 100, 100);
$text-color-900: rgb(55, 55, 55);

$light-theme-bg-900: #F0F2F5;
$light-theme-bg-800: #f6f6f7;
$light-theme-bg-700: #E4E6EB;
$light-theme-bg-600: #fcfcfc;
$light-theme-bg-500: #FFFFFF;


$dark-theme-bg-900: #18191A;
$dark-theme-bg-700: #242526;
$dark-theme-bg-500: #3A3B3C;
$dark-theme-bg-300: #48494b;

$dark-theme-text-900: rgb(130, 130, 130);
$dark-theme-text-800: #B0B3B8;
$dark-theme-text-700: #B8BBAE;
$dark-theme-text-500: #e4e4e4;

